local-tmp
dependencies
dependencies_x64
scripts/win32-dependencies.cmd
dist
build
libraries/doc-tmp
CMakeLists.txt.*
CustomCMakeLists.txt
.*.swp
*~
*.swp
# .build is generated on automated packaging on CI
.build
# this file can be copied from skeleton, and updated with appropriate credentials
scripts/windows-install-dependencies-custom.cmd
scripts/windows-install-dependencies-x64-custom.cmd
.version
